In [1]:
import numpy as np
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
import sys
import re
import json
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
import emoji
import unidecode

import urllib.request

import warnings
warnings.filterwarnings("ignore")
import argparse
import logging
import time
from collections import Counter
from sqlalchemy import create_engine
import zipfile

In [2]:
### Due to the restriction on github, i had to upload a zip version of the file
### The following lines will unzip the file and leave it in the same folder 
### in odrer to be used

current_directory = os.path.dirname(os.path.realpath('__file__')) # Getting the actual path
file_name = 'tweets-json.json.zip'
zip_file_path = os.path.join(current_directory, file_name)
extraction_path = current_directory

with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(extraction_path)

In [3]:
### For this excersice i decided to use a class that will provide me with all the functions
### I will need for each task, each one of them is explained in another file

from tweetprocessclass import tweet_process

In [4]:
### calling the class

tweetprocess = tweet_process()

In [5]:
file_name = 'tweets-json.json'

In [6]:
### Extracting all tweets from the file and creating a DF with them
df = tweetprocess.json_to_df(file_name)

In [7]:
### transforming all DF to lowercase and elimination of all accentuation
df = tweetprocess.convert_lowercase(df)

In [8]:
df

,url,date,content,renderedcontent,id,outlinks,tcooutlinks,replycount,retweetcount,likecount,...,quotedtweet.conversationid,quotedtweet.lang,quotedtweet.source,quotedtweet.sourceurl,quotedtweet.sourcelabel,quotedtweet.media,quotedtweet.retweetedtweet,quotedtweet.quotedtweet,quotedtweet.mentionedusers,quotedtweet
0,https://twitter.com/arjunsinghpanam/status/136...,2021-02-24t09:23:35+00:00,the world progresses while the indian police a...,the world progresses while the indian police a...,1364506249291784198,['https://twitter.com/ravisinghka/status/13641...,['https://t.co/es3kn0iqaf'],0,0,0,...,1.3641508447578604e+18,en,"<a href=""http://twitter.com/download/iphone"" r...",http://twitter.com/download/iphone,twitter for iphone,none,none,none,"[{'username': 'police_haryana', 'displayname':...",nan
1,https://twitter.com/prdeepnain/status/13645062...,2021-02-24t09:23:32+00:00,#farmersprotest \n#modiignoringfarmersdeaths \...,#farmersprotest \n#modiignoringfarmersdeaths \...,1364506237451313155,[],[],0,0,0,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,none
2,https://twitter.com/parmarmaninder/status/1364...,2021-02-24t09:23:22+00:00,ਪੈਟਰੋਲ ਦੀਆਂ ਕੀਮਤਾਂ ਨੂੰ ਮੱਦੇਨਜ਼ਰ ਰੱਖਦੇ ਹੋਏ \nਮੇ...,ਪੈਟਰੋਲ ਦੀਆਂ ਕੀਮਤਾਂ ਨੂੰ ਮੱਦੇਨਜ਼ਰ ਰੱਖਦੇ ਹੋਏ \nਮੇ...,1364506195453767680,[],[],0,0,0,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,none
3,https://twitter.com/anmoldhaliwal/status/13645...,2021-02-24t09:23:16+00:00,@reallyswara @rohini_sgh watch full video here...,@reallyswara @rohini_sgh watch full video here...,1364506167226032128,['https://youtu.be/-bukumwq-j8'],['https://t.co/wbpndjdb0n'],0,0,0,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,none
4,https://twitter.com/kotiapreet/status/13645061...,2021-02-24t09:23:10+00:00,#kisanektamorcha #farmersprotest #nofarmersnof...,#kisanektamorcha #farmersprotest #nofarmersnof...,1364506144002088963,[],[],0,0,0,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117402,https://twitter.com/rickyrickstir/status/13600...,2021-02-12t01:37:02+00:00,#farmersprotest #kisanandolan #kisaanmajdoorek...,#farmersprotest #kisanandolan #kisaanmajdoorek...,1360040182771163138,[],[],0,0,0,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,none
117403,https://twitter.com/punjabtak/status/136004014...,2021-02-12t01:36:53+00:00,pm मोदी की अपील के बीच संयुक्त किसान मोर्चा का...,pm मोदी की अपील के बीच संयुक्त किसान मोर्चा का...,1360040146402373637,['https://youtu.be/ag3qhgwoyag'],['https://t.co/azznogi8bx'],0,0,0,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,none
117404,https://twitter.com/ish_kayy/status/1360040134...,2021-02-12t01:36:50+00:00,united we stand.\ndivided we fall\n#mahapancha...,united we stand.\ndivided we fall\n#mahapancha...,1360040134230556678,[],[],0,65,39,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,none
117405,https://twitter.com/tv9bharatvarsh/status/1360...,2021-02-12t01:36:49+00:00,"सिंघु बॉर्डर पर लंबी लड़ाई की तैयारी, किसानों ...","सिंघु बॉर्डर पर लंबी लड़ाई की तैयारी, किसानों ...",1360040127679000577,['https://www.tv9hindi.com/india/farmers-prote...,['https://t.co/bkjh7wxc0w'],0,1,15,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,none
117406,https://twitter.com/sikhvibes/status/136004012...,2021-02-12t01:36:49+00:00,"@kisanektamorcha we are with you, keep the mor...","@kisanektamorcha we are with you, keep the mor...",1360040127146430470,[],[],2,19,23,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,none

In [9]:
### 1. Los top 10 tweets más retweeted.

tweetprocess.topX_most_retweeted(df)

,url,date,content,renderedcontent,id,outlinks,tcooutlinks,replycount,retweetcount,likecount,...,quotedtweet.conversationid,quotedtweet.lang,quotedtweet.source,quotedtweet.sourceurl,quotedtweet.sourcelabel,quotedtweet.media,quotedtweet.retweetedtweet,quotedtweet.quotedtweet,quotedtweet.mentionedusers,quotedtweet
111329,https://twitter.com/rakeshtikaitbku/status/136...,2021-02-12t10:10:56+00:00,मध्यप्रदेश में निजी व्यापारी 200 करोड़ का धान ...,मध्यप्रदेश में निजी व्यापारी 200 करोड़ का धान ...,1360169510079111173,[],[],572,7723,25824,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,none
7645,https://twitter.com/dhruv_rathee/status/136414...,2021-02-23t09:40:21+00:00,there's a #farmersprotest happening in germany...,there's a #farmersprotest happening in germany...,1364148079117615105,[],[],666,6164,27888,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,none
89780,https://twitter.com/rupikaur_/status/136088206...,2021-02-14t09:22:23+00:00,"disha ravi, a 21-year-old climate activist, ha...","disha ravi, a 21-year-old climate activist, ha...",1360882069161803779,['https://scroll.in/latest/986851/greta-thunbe...,['https://t.co/iygslpnjwz'],655,4673,8974,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,none
88911,https://twitter.com/amaanbali/status/136090860...,2021-02-14t11:07:50+00:00,disha ravi broke down in court room and told j...,disha ravi broke down in court room and told j...,1360908603155050498,[],[],282,3742,10403,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,none
111556,https://twitter.com/jedijasmin_/status/1360162...,2021-02-12t09:44:31+00:00,farmers are so sweet. y’all have to see this @...,farmers are so sweet. y’all have to see this @...,1360162861419425795,[],[],170,3332,17325,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,none
64492,https://twitter.com/rupikaur_/status/136179092...,2021-02-16t21:33:51+00:00,india is targeting young women to silence diss...,india is targeting young women to silence diss...,1361790921902338048,[],[],278,3230,7244,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,none
108072,https://twitter.com/ravisinghka/status/1360260...,2021-02-12t16:11:35+00:00,bollywood has betrayed panjab &amp; the farmer...,bollywood has betrayed panjab &amp; the farmer...,1360260269646237699,[],[],294,3182,12949,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,none
60721,https://twitter.com/sherryontopp/status/136189...,2021-02-17t04:38:50+00:00,लहरों को ख़ामोश देख कर ये ना समझना कि समंदर मे...,लहरों को ख़ामोश देख कर ये ना समझना कि समंदर मे...,1361897874582249474,[],[],277,3057,19284,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,none
29510,https://twitter.com/sherryontopp/status/136309...,2021-02-20t11:38:08+00:00,"हाँ मैं जानता हूँ कि मैं शायर नहीं, और ज़ुल्म ...","हाँ मैं जानता हूँ कि मैं शायर नहीं, और ज़ुल्म ...",1363090557984141315,[],[],312,3040,19198,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,none
24160,https://twitter.com/sherryontopp/status/136337...,2021-02-21t06:33:27+00:00,"कलियुग है साहब , यहाँ झूठे को स्वीकार किया जा...","कलियुग है साहब , यहाँ झूठे को स्वीकार किया जा...",1363376268784267268,[],[],212,2622,15582,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,none

In [10]:
tweetprocess.topX_most_retweeted(df)['content']

111329    मध्यप्रदेश में निजी व्यापारी 200 करोड़ का धान ...
7645      there's a #farmersprotest happening in germany...
89780     disha ravi, a 21-year-old climate activist, ha...
88911     disha ravi broke down in court room and told j...
111556    farmers are so sweet. y’all have to see this @...
64492     india is targeting young women to silence diss...
108072    bollywood has betrayed panjab &amp; the farmer...
60721     लहरों को ख़ामोश देख कर ये ना समझना कि समंदर मे...
29510     हाँ मैं जानता हूँ कि मैं शायर नहीं, और ज़ुल्म ...
24160     कलियुग  है साहब , यहाँ झूठे को स्वीकार किया जा...
Name: content, dtype: object

In [11]:
### top can be changed to get X ammount of results

tweetprocess.topX_most_retweeted(df, top = 19)['content']

111329    मध्यप्रदेश में निजी व्यापारी 200 करोड़ का धान ...
7645      there's a #farmersprotest happening in germany...
89780     disha ravi, a 21-year-old climate activist, ha...
88911     disha ravi broke down in court room and told j...
111556    farmers are so sweet. y’all have to see this @...
64492     india is targeting young women to silence diss...
108072    bollywood has betrayed panjab &amp; the farmer...
60721     लहरों को ख़ामोश देख कर ये ना समझना कि समंदर मे...
29510     हाँ मैं जानता हूँ कि मैं शायर नहीं, और ज़ुल्म ...
24160     कलियुग  है साहब , यहाँ झूठे को स्वीकार किया जा...
84368     please, where did you get your phd from? anti-...
43050     हर जगह गूँज रही है आवाज़। #जिए_किसान_जिए_हिन्द...
23348     this is revolution. more than 2.25lac people a...
89423     wish you fly over the delhi border and look at...
83016     मेरी दोस्ती का फ़ायदा उठा लेना , क्योंकि मेरे ...
97348     they went after our grandparents.\n#gurmukhsin...
49568                             #farmersprotest  \n\n ✊🏽🚜
55271     arresting #climatechange activist #disharavi i...
66311     i stand in solidarity with the #farmersprotest...
Name: content, dtype: object

In [12]:
### 2. Los top 10 users en función a la cantidad de tweets que emitieron.

tweetprocess.topX_tweets_per_person(df)

                 user.username
jot__b                    1019
rebelpacifist              850
maandee08215437            830
gurpreetd86                636
gurmvicky                  597
shells_n_petals            576
preetysaini321             573
ish_kayy                   515
kaurdosanjh1979            512
digitalkisanbot            490

In [13]:
### top can be changed to get X ammount of results

tweetprocess.topX_tweets_per_person(df, top=22)

                 user.username
jot__b                    1019
rebelpacifist              850
maandee08215437            830
gurpreetd86                636
gurmvicky                  597
shells_n_petals            576
preetysaini321             573
ish_kayy                   515
kaurdosanjh1979            512
digitalkisanbot            490
preetm91                   478
jbbal75                    476
ajityadavdu                470
sangha_jass11              463
loyal90901246              433
raajvinderkaur             388
rumsomal                   379
mangalj23056160            378
gratitudepeace             376
kattanoru                  372
malikavni                  364
ahluwaliaa2                362

In [14]:
### 3. Los top 10 días donde hay más tweets.

tweetprocess.topX_tweets_per_day(df)

              day
2021-02-12  12347
2021-02-13  11296
2021-02-17  11087
2021-02-16  10443
2021-02-14  10249
2021-02-18   9625
2021-02-15   9197
2021-02-20   8502
2021-02-23   8417
2021-02-19   8204

In [15]:
### top can be changed to get X ammount of results

tweetprocess.topX_tweets_per_day(df, top=5)

              day
2021-02-12  12347
2021-02-13  11296
2021-02-17  11087
2021-02-16  10443
2021-02-14  10249

In [16]:
### 4. Los top 10 hashtags más usados.

tweetprocess.topX_most_used_hashtags(df)

                               0
#farmersprotest           119460
#releasedetainedfarmers     6002
#farmersmakeindia           5358
#mahapanchayatrevolution    4869
#repealonlywayahead         4632
#indiabeingsilenced         4520
#farmersprotests            3750
#standwithfarmers           3678
#pagdi_sambhal_jatta        3552
#disharavi                  3177

In [17]:
### top can be changed to get X ammount of results

tweetprocess.topX_most_used_hashtags(df, top=21)

                                 0
#farmersprotest             119460
#releasedetainedfarmers       6002
#farmersmakeindia             5358
#mahapanchayatrevolution      4869
#repealonlywayahead           4632
#indiabeingsilenced           4520
#farmersprotests              3750
#standwithfarmers             3678
#pagdi_sambhal_jatta          3552
#disharavi                    3177
#railrokoforfarmers           3114
#farmers                      3041
#msplawforallcrops            2868
#istandwithfarmers            2847
#freenodeepkaur               2827
#क                            2775
#modiignoringfarmersdeaths    2738
#dpstopintimidatingfarmers    2603
#kisanandolan                 2366
#freedisharavi                2075
#gobackmodi                   2063

In [18]:
### 5. Los top 10 emojis más usados.

tweetprocess.topX_most_used_emoji(df)

  emoji  count
0     🙏   7286
1     😂   3072
2     🚜   2972
3     ✊   2411
4     🌾   2363
5     🏻   2080
6     ❤   1779
7     🤣   1668
8     🏽   1218
9     👇   1108

In [19]:
### top can be changed to get X ammount of results

tweetprocess.topX_most_used_emoji(df, top=20)

   emoji  count
0      🙏   7286
1      😂   3072
2      🚜   2972
3      ✊   2411
4      🌾   2363
5      🏻   2080
6      ❤   1779
7      🤣   1668
8      🏽   1218
9      👇   1108
10     💚   1040
11     💪    947
12     🏼    857
13     👍    834
14     👏    690
15     🤔    641
16     👉    530
17     🌹    428
18     😡    378
19     🔥    349

In [20]:
### 6. Los top 10 users más influyentes en función de lo retweeted de sus tweets.

tweetprocess.topX_most_influential(df)

                 retweetcount
user.username
amaanbali               26354
saahilmenghani          23288
ravisinghka             22974
sherryontopp            19175
rakeshtikaitbku         12001
rupikaur_               11420
news24tvchannel         10960
imani_kaurrai           10636
monica_gill1             8593
bhupenderc19             7360

In [21]:
### top can be changed to get X ammount of results

tweetprocess.topX_most_influential(df, top=12)

                 retweetcount
user.username
amaanbali               26354
saahilmenghani          23288
ravisinghka             22974
sherryontopp            19175
rakeshtikaitbku         12001
rupikaur_               11420
news24tvchannel         10960
imani_kaurrai           10636
monica_gill1             8593
bhupenderc19             7360
claudiawebbe             6815
tractor2twitr            6786

In [ ]:
### Extra steps possible...

In [22]:
### The following is an upgrade that can be done, but in order to use the function below 
### a postgressql docker has to be created with the docker-compose provided


!docker-compose up -d

LATAMTweet-dockercompose is up-to-date

In [23]:
### Using the recently created DB, we can upload any of the result just provided to the DB
### using only selected columns as shown below

In [24]:
columns_to_sql = ['renderedcontent',
                    'replycount',
                    'retweetcount',
                    'likecount',
                    'quotecount',
                    'mentionedusers']

table_name = 'new_tweet_info'

In [25]:
tweetprocess.upload_to_sql(df, columns_to_sql, table_name)

In [26]:
tweetprocess.topX_most_retweeted(df)

,url,date,content,renderedcontent,id,outlinks,tcooutlinks,replycount,retweetcount,likecount,...,quotedtweet.lang,quotedtweet.source,quotedtweet.sourceurl,quotedtweet.sourcelabel,quotedtweet.media,quotedtweet.retweetedtweet,quotedtweet.quotedtweet,quotedtweet.mentionedusers,quotedtweet,day
111329,https://twitter.com/rakeshtikaitbku/status/136...,2021-02-12 10:10:56+00:00,मध्यप्रदेश में निजी व्यापारी 200 करोड़ का धान ...,मध्यप्रदेश में निजी व्यापारी 200 करोड़ का धान ...,1360169510079111173,[],[],572,7723,25824,...,nan,nan,nan,nan,nan,nan,nan,nan,none,2021-02-12
7645,https://twitter.com/dhruv_rathee/status/136414...,2021-02-23 09:40:21+00:00,there's a #farmersprotest happening in germany...,there's a #farmersprotest happening in germany...,1364148079117615105,[],[],666,6164,27888,...,nan,nan,nan,nan,nan,nan,nan,nan,none,2021-02-23
89780,https://twitter.com/rupikaur_/status/136088206...,2021-02-14 09:22:23+00:00,"disha ravi, a 21-year-old climate activist, ha...","disha ravi, a 21-year-old climate activist, ha...",1360882069161803779,['https://scroll.in/latest/986851/greta-thunbe...,['https://t.co/iygslpnjwz'],655,4673,8974,...,nan,nan,nan,nan,nan,nan,nan,nan,none,2021-02-14
88911,https://twitter.com/amaanbali/status/136090860...,2021-02-14 11:07:50+00:00,disha ravi broke down in court room and told j...,disha ravi broke down in court room and told j...,1360908603155050498,[],[],282,3742,10403,...,nan,nan,nan,nan,nan,nan,nan,nan,none,2021-02-14
111556,https://twitter.com/jedijasmin_/status/1360162...,2021-02-12 09:44:31+00:00,farmers are so sweet. y’all have to see this @...,farmers are so sweet. y’all have to see this @...,1360162861419425795,[],[],170,3332,17325,...,nan,nan,nan,nan,nan,nan,nan,nan,none,2021-02-12
64492,https://twitter.com/rupikaur_/status/136179092...,2021-02-16 21:33:51+00:00,india is targeting young women to silence diss...,india is targeting young women to silence diss...,1361790921902338048,[],[],278,3230,7244,...,nan,nan,nan,nan,nan,nan,nan,nan,none,2021-02-16
108072,https://twitter.com/ravisinghka/status/1360260...,2021-02-12 16:11:35+00:00,bollywood has betrayed panjab &amp; the farmer...,bollywood has betrayed panjab &amp; the farmer...,1360260269646237699,[],[],294,3182,12949,...,nan,nan,nan,nan,nan,nan,nan,nan,none,2021-02-12
60721,https://twitter.com/sherryontopp/status/136189...,2021-02-17 04:38:50+00:00,लहरों को ख़ामोश देख कर ये ना समझना कि समंदर मे...,लहरों को ख़ामोश देख कर ये ना समझना कि समंदर मे...,1361897874582249474,[],[],277,3057,19284,...,nan,nan,nan,nan,nan,nan,nan,nan,none,2021-02-17
29510,https://twitter.com/sherryontopp/status/136309...,2021-02-20 11:38:08+00:00,"हाँ मैं जानता हूँ कि मैं शायर नहीं, और ज़ुल्म ...","हाँ मैं जानता हूँ कि मैं शायर नहीं, और ज़ुल्म ...",1363090557984141315,[],[],312,3040,19198,...,nan,nan,nan,nan,nan,nan,nan,nan,none,2021-02-20
24160,https://twitter.com/sherryontopp/status/136337...,2021-02-21 06:33:27+00:00,"कलियुग है साहब , यहाँ झूठे को स्वीकार किया जा...","कलियुग है साहब , यहाँ झूठे को स्वीकार किया जा...",1363376268784267268,[],[],212,2622,15582,...,nan,nan,nan,nan,nan,nan,nan,nan,none,2021-02-21

In [27]:
columns_to_sql = ['renderedcontent',
                    'replycount',
                    'retweetcount',
                    'likecount']

table_name = 'top35_most_retweeted_info'

In [28]:
tweetprocess.upload_to_sql(tweetprocess.topX_most_retweeted(df, top = 35), columns_to_sql, table_name)

In [29]:
### Checking the DB information:

In [30]:
username = 'postgres'
password = 'Latam2023'
host = '0.0.0.0'  
port = '5432'  
database_name = 'LATAMDB'


engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{database_name}')

connection = engine.connect()

In [31]:
table_name = 'new_tweet_info'

sql_query = "SELECT * FROM "+table_name


dfsqltable1 = pd.read_sql_query(sql_query, engine)

dfsqltable1

,renderedcontent,replycount,retweetcount,likecount,quotecount,mentionedusers
0,the world progresses while the indian police a...,0,0,0,0,"[{'username': 'narendramodi', 'displayname': '..."
1,#farmersprotest \n#modiignoringfarmersdeaths \...,0,0,0,0,"[{'username': 'kisanektamorcha', 'displayname'..."
2,ਪੈਟਰੋਲ ਦੀਆਂ ਕੀਮਤਾਂ ਨੂੰ ਮੱਦੇਨਜ਼ਰ ਰੱਖਦੇ ਹੋਏ \nਮੇ...,0,0,0,0,none
3,@reallyswara @rohini_sgh watch full video here...,0,0,0,0,"[{'username': 'reallyswara', 'displayname': 's..."
4,#kisanektamorcha #farmersprotest #nofarmersnof...,0,0,0,0,none
...,...,...,...,...,...,...
117402,#bjpgovtdictatingtwitter #mahapanchayatrevolut...,0,1,0,0,none
117403,#farmersprotest #kisanandolan #kisaanmajdoorek...,0,0,0,0,none
117404,pm मोदी की अपील के बीच संयुक्त किसान मोर्चा का...,0,0,0,0,none
117405,united we stand.\ndivided we fall\n#mahapancha...,0,65,39,6,none
117406,"@kisanektamorcha we are with you, keep the mor...",2,19,23,2,"[{'username': 'kisanektamorcha', 'displayname'..."

In [32]:
table_name = 'top35_most_retweeted_info'

sql_query = "SELECT * FROM "+table_name


dfsqltable = pd.read_sql_query(sql_query, engine)

dfsqltable

,renderedcontent,replycount,retweetcount,likecount
0,मध्यप्रदेश में निजी व्यापारी 200 करोड़ का धान ...,572,7723,25824
1,there's a #farmersprotest happening in germany...,666,6164,27888
2,"disha ravi, a 21-year-old climate activist, ha...",655,4673,8974
3,disha ravi broke down in court room and told j...,282,3742,10403
4,farmers are so sweet. y’all have to see this @...,170,3332,17325
5,india is targeting young women to silence diss...,278,3230,7244
6,bollywood has betrayed panjab &amp; the farmer...,294,3182,12949
7,लहरों को ख़ामोश देख कर ये ना समझना कि समंदर मे...,277,3057,19284
8,"हाँ मैं जानता हूँ कि मैं शायर नहीं, और ज़ुल्म ...",312,3040,19198
9,"कलियुग है साहब , यहाँ झूठे को स्वीकार किया जा...",212,2622,15582
10,"please, where did you get your phd from? anti-...",425,2495,9780
11,हर जगह गूँज रही है आवाज़। #जिए_किसान_जिए_हिन्द...,95,2491,8490
12,this is revolution. more than 2.25lac people a...,112,2258,7574
13,wish you fly over the delhi border and look at...,122,2208,12273
14,"मेरी दोस्ती का फ़ायदा उठा लेना , क्योंकि मेरे ...",140,1992,12782
15,they went after our grandparents.\n#gurmukhsin...,133,1933,6478
16,#farmersprotest \n\n ✊🏽🚜,114,1863,8058
17,arresting #climatechange activist #disharavi i...,93,1806,5530
18,i stand in solidarity with the #farmersprotest...,189,1805,5085
19,"today, 75 organizations--led by @mujerxsrising...",90,1796,4110
20,गढ़ी सांपला की पंचायत में पधारे सभी किसानों का...,176,1795,12317
21,"हवाओं का बहाव मीनारें रोक नहीं सकतीं , ख़ुशबुओ...",148,1723,10051
22,‘पगड़ी सम्भाल जट्टा’\n\nचाचा सरदार अजीत सिंह न...,117,1692,7119
23,पंजाब के बरनाला में हो रही किसान मज़दूर रैली म...,105,1676,5432
24,"dear @narendramodi , it’s #valentinesday ! sto...",119,1668,7222
25,इसे कहते हैं जले पर नमक छिड़कना। आंदोलन में शह...,335,1610,4272
26,"keep supporting ""peaceful farmers protest""\n\n...",94,1554,3679
27,"our differences will remain, but we must cont...",67,1536,6939
28,disha ravi is 21 yrs\n\na climate activist fro...,1065,1525,2843
29,maybe as farmers we can teach bollywood to gro...,92,1484,6655
30,"कल किसानों ने रेल रोकी, पर सेवा नहीं।\n\nकाश य...",80,1463,6056
31,"watch | ""wouldn't they die at home?"": haryana ...",404,1409,3954
32,please do not tweet for me. we have larger iss...,133,1405,4055
33,one has allegations of terrorist arrack attack...,77,1392,3200
34,guys !!\n\nplease keep using the following has...,89,1355,3604

In [33]:
# Close the connection when done
connection.close()